[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group dpl-summer-fulltime-2017
	owner = group user/Jake Sorce (jakesorce)
[access "refs/for/refs/*"]
	read = group user/Jake Sorce (jakesorce)
	push = group user/Jake Sorce (jakesorce)
	label-Code-Review = -2..+2 group user/Jake Sorce (jakesorce)
	label-Verified = -1..+1 group user/Jake Sorce (jakesorce)
	rebase = group user/Jake Sorce (jakesorce)
	removeReviewer = group user/Jake Sorce (jakesorce)
	submit = group user/Jake Sorce (jakesorce)
[access "refs/heads/*"]
	read = group user/Jake Sorce (jakesorce)
	create = group user/Jake Sorce (jakesorce)
	push = +force group user/Jake Sorce (jakesorce)
	pushMerge = group user/Jake Sorce (jakesorce)
[access "refs/tags/*"]
	push = group user/Jake Sorce (jakesorce)
	push = +force group user/Jake Sorce (jakesorce)
